@import url(http://fonts.googleapis.com/css?family=Varela+Round);
body
{
	background: #ffc631;
	margin: 0 auto;
	padding:0;
	text-align: center;
	font-size: 16px;
	font-family: 'Varela Round', sans-serif;
}
footer
{
	background: gray;
	height: 75px;
	text-align: center;
}
h2
{
	background: #fb6a13;
	font-size: 36px;
	text-align: center;
	margin: 0;
	padding: 13px 0px;
}
header
{
	background: white;
	height: 63px;
	top: 0px;
	position: fixed;
	left: 0;
	width: 100%;
}
header p
{
	float: right;
	margin-right: 20px;
	text-decoration: underline;
}
header img
{
	position: absolute;
	right: 40%;
}
.cuadro
{
	font-size: 18px;
	margin: 0;
	padding: 0;

}
#uno
{
	margin: 63px 0 0 0;
}
#autobus img
{
	width:100%;
	-webkit-transition:.5s all;
}
#galeria img
{
	width: 100%;
}
#autobus
{
	font-size: 24px;
	color: red;
	padding:8px;
	margin: 0;
	text-align: center;
}
.parrafo
{
	padding: 8px;
	margin: 0;
}
.parrafo img
{
	display: none;	
}
.cuadro .cliente
{	
	border: 1px solid black;
	margin: 10px;
	height: 200px;
	width: 95%;
}
@media screen and (min-width: 480px)
{
	#autobus img
	{
		width: 30%;
	}
	.cuadro .cliente
	{
		display: inline-block;
		width: 20%;
	}
	.cliente
	{
		background: rgba(185,25,95,0.5);
		margin: 0;
	}
}
@media screen and (min-width: 768px)
{
	.parrafo img
	{
		display: block;
		margin: 0 auto;
	}

	#autobus,.parrafo
	{
		display: inline-block;
		vertical-align: top;
		margin: 0 auto;
	}
	#autobus img
	{
		width:100%;
	}
	#galeria img
	{
		width: 70%;
	}
	.parrafo
	{
		width:37%;
		margin: 0 auto;
		background: rgba(255,255,255,0.3)
	}
}
