@import url(http://fonts.googleapis.com/css?family=Varela+Round);
body
{
	background: #ffc631;
	margin: 0 auto;
	padding:0;
	text-align: center;
	font-size: 16px;
	font-family: 'Varela Round', sans-serif;
}
footer
{
	background: gray;
	height: 75px;
	text-align: center;
}
h2
{
	background: #fb6a13;
	font-size: 36px;
	text-align: center;
	margin: 0;
	padding: 13px 0px;
}
header
{
	background: #b61c20;
	height: 63px;
	top: 0px;
	position: fixed;
	left: 0;
	width: 100%;
}
header p
{
	float: right;
	margin-right: 20px;
	text-decoration: underline;
}
header img
{
	position: absolute;
	right: 40%;
	box-shadow: 0 0 30px gray;
}
ul
{
	margin: 0;
	padding:0;
}
#uno li
{
	list-style-type: none;
	text-decoration: none;
	margin: 0 auto;
	padding:0px 0;
	width: 100%;
}
li input, textarea
{
	width: 80%;
}
ul li
{
	margin-top: 13px;
}
.submit
{
	background:#b61c20;
	box-shadow: 0 2px 5px white inset;
	border: none;
	border-radius: 15px;
	padding: 13px 20px;
}
.cuadro
{
	font-size: 18px;
	margin: 0;
	padding: 0;

}
#uno
{
	height:auto;
	margin: 63px 0 0 0;
	width: 100%;
}
#uno h1
{
	padding-top: 13px;
}
.mas
{
	text-align: center;
	font-size: 24px;
}
#autobus img
{
	width:100%;
	-webkit-transition:.5s all;
}
#galeria
{
	background:#157d9d;
}
#galeria img
{
	width: 100%;
}
#autobus
{
	font-size: 24px;
	color: red;
	padding:8px;
	margin: 0;
	text-align: center;
}
.parrafo
{
	padding: 8px;
	margin: 0;
}
.parrafo img
{
	display: none;	
}
.cliente
{
	background: url("../img/empresas.jpg")no-repeat;
	background-size: 100%;
}
.cuadro .cliente
{	
	border: 1px solid black;
	margin: 10px;
	height: 200px;
	width: 95%;
}

@media screen and (min-width: 480px)
{
	#autobus img
	{
		width: 30%;
	}
	.cuadro .cliente
	{
		display: inline-block;
		width: 30%;
	}
	li input, textarea
	{
		width: 50%;
	}
}
@media screen and (min-width: 768px)
{
	.parrafo img
	{
		display: block;
		margin: 0 auto;
	}

	#autobus,.parrafo
	{
		display: inline-block;
		vertical-align: top;
		margin: 0 auto;
	}
	#autobus img
	{
		width:100%;
	}
	#galeria img
	{
		width: 70%;
	}
	.parrafo
	{
		width:37%;
		margin: 0 auto;
		background: rgba(255,255,255,0.3)
	}
	.cuadro .cliente
	{
		display: inline-block;
		width: 20%;
	}
	.contacto li
	{
		max-width: 60%;
		margin: 0 auto;
		list-style-type: none;
		margin-top: 20px;
	}
}



.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }