@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body
{
	color: white;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
header
{
	position: fixed;
	width: 100%;
	background: rgba(40,146,161,0.5);
	top: 0;
	left: 0;
	z-index: 5;
}
.navegacion
{
	margin: auto 0;
	height: 100px;
}
.navegacion img
{
	width: 300px;
	margin-top: 25px;
}
.navegacion li
{
	display: inline-block;
	vertical-align: top;
	list-style-type: none;
	margin-top:35px; 
}
.navegacion li a
{
	text-decoration: none;	
	padding: 1em;
	color: white;	
}
h2
{
	margin: 0;
	padding-top: 1.5em;
}
#inicio
{
	background:url(../img/fondoagua.jpg)repeat-x fixed;
	background-size: 100% 100%;
}
#inicio img
{
	padding: 1em;
	width: 80%;
	max-width: 500px;
	text-align: center;
	transition:.5s all;
}
.comun
{
	padding: 2em;
}

.comun p
{
	text-align: justify;
	max-width: 400px;
	width: 90%;
}
.comun img
{
	width: 100%;
	max-width: 400px;
}
#servicio
{
	background:#64ff97 repeat-x fixed;
}
#servicio img
{
	width: 100%;
	max-width: 350px;
	display: inline-block;
	vertical-align: top;
	transition:.5s all;
	-webkit-transition:.5s all;
	color: blue;
}
#servicio img:hover
{
	background: #64adff;
}
.comun p,img
{
	display: inline-block;
	vertical-align: top;
}
.home
{
	width: 100%;
}
#promociones
{
	background: #05c487;
}
#contacto
{
	background: url(../img/fondo.png) fixed,#64adff ;
}
#caracteristicas
{
	background: #727474;
}
#contacto ul
{
	margin: 0;
	padding: 0;
	background: #ff2323;
	width: 95%;
	max-width: 400px;
	margin: 0 auto;
}
#contacto li
{
	width: 90%;
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	font-size: 22px;
	padding: .2em;
	list-style-type: none;
}
#contacto input
{
	width: 100%;
	height: 30px;
	margin-bottom: 1em;
}
#contacto form ,iframe
{
	display: inline-block;
	vertical-align: top;
}
#contacto iframe
{
	width: 100%;
	max-width: 400px;
}
footer
{
	background: gray;
	padding: 2em;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0 ;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 75px	;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

  @media screen and (min-width: 768px)
  {
  	body
  	{
		
  	}
  }