#menu
{
	width: 15%;
	height: 1000px;
	background-color: black;
}

#contenido
{
	width: 80%;
	height: 1000px;
	float:right;
	background: gray;
	color: black;
	font-size: 18px;
	color: white;
}

#menu,#contenido
{
	display: inline-block;
	vertical-align: top;
}

#contenido p
{
	text-align: justify;
	color: white;
	font-size: 20px;
	padding: 0px 100px;

}
#contenido h2
{
	text-align: center;
}
#contacto
{
	top: 50px;
	position: absolute;
	left: 500px;

}
ul a
{
	text-decoration: none;
	color: white;
	font-size: 20px;
}
ul li
{
	list-style-type: none;
}

form
{
	width: 100%;
}