@import url(http://fonts.googleapis.com/css?family=Artifika);
body
{
	background: rgb(255,233,186) ;
	font-family: Arial;
	font-size: 16px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font-family: 'Artifika', serif;
}

footer
{
	background: rgb(181,181,181);
	height: 50px;
	color: black;
	width: 100%;
	min-width: 280px;
	padding-top: 25px;
}
h5{
	margin: 0;
	padding: 0;
}
header
{
	background:url(../img/logo.png)no-repeat 7% center,rgba(255,186,2,.9);
	box-shadow: 0px 0px 25px black inset;
	box-shadow: 0 5px 20px black;
	background-size: 150px;
	height: 60px;
	top: 0px;
	position: fixed;
	left: 0;
	width: 100%;
	min-width: 280px;

}
header h1
{
	font-weight: bold;
	font-size: .7em;
	margin: 10px 0 10px 50%;
	padding-right: 9px;
	width: 50%;
	text-shadow:0 2px 3px black;
}
nav 
{
	margin-top: 65px;
}
nav ul
{
	margin: 0;
	padding: 0;
}
nav ul li
{
	background: gray;
	list-style-type: none;
	border: 1px solid black;
	box-shadow: 0 0 15px black;
	padding: 5px 0px;
}

nav ul li a
{
	padding: 5px 0;
	color: white;
	width: 100%;
	text-decoration: none;
}

#autobus
{
	width: 100%;
}
.contenido
{
	background: rgb(252,189,19);
	width: 100%;
	min-width: 280px;
}

.contenido p,h2
{
	margin: 0;
	padding: 0 4%;
}
.contenido p
{
	text-align: left;
}

@media screen and (min-width: 500px)
{

	.contenido
	{
		width: 80%;
		margin: 0 auto;
	}
	nav ul li
	{
		width: 15%;
		display: inline-block;
		margin: 0 auto;
	}
	header h1
	{
		font-size: 1.1em;
		margin: 16px auto;
		width: 70%;
	}

}

@media screen and (min-width: 1000px)
{
	.contenido
	{
		width: 60%;
		margin: 0 auto;
	}

}




